.block:nth-child(n + 4) {
    margin-top: 0.5cm;
}

.block:nth-child(n + 7) {
    margin-top: 0.5cm;
}

.block:nth-child(n + 10) {
    margin-top: 0.5cm;
}

.block:nth-child(n + 13) {
    margin-top: 0.5cm;
}

.block:nth-child(n + 16) {
    margin-top: 0.5cm;
}

.block:nth-child(n + 19) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 22) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 25) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 28) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 31) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 34) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 37) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 40) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 43) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 46) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 49) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 52) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 55) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 58) {
    margin-top: 0.5cm;
}
.block:nth-child(n + 61) {
    margin-top: 0.5cm;
}

/* Kolom 2 */
.block:nth-child(2) {
    margin-left: 0.25cm;
}
.block:nth-child(5) {
    margin-left: 0.25cm;
}
.block:nth-child(8) {
    margin-left: 0.25cm;
}
.block:nth-child(11) {
    margin-left: 0.25cm;
}
.block:nth-child(14) {
    margin-left: 0.25cm;
}
.block:nth-child(17) {
    margin-left: 0.25cm;
}
.block:nth-child(20) {
    margin-left: 0.25cm;
}
.block:nth-child(23) {
    margin-left: 0.25cm;
}
.block:nth-child(26) {
    margin-left: 0.25cm;
}
.block:nth-child(29) {
    margin-left: 0.25cm;
}
.block:nth-child(32) {
    margin-left: 0.25cm;
}
.block:nth-child(35) {
    margin-left: 0.25cm;
}
.block:nth-child(38) {
    margin-left: 0.25cm;
}
.block:nth-child(41) {
    margin-left: 0.25cm;
}
.block:nth-child(44) {
    margin-left: 0.25cm;
}
.block:nth-child(47) {
    margin-left: 0.25cm;
}
.block:nth-child(50) {
    margin-left: 0.25cm;
}
.block:nth-child(53) {
    margin-left: 0.25cm;
}
.block:nth-child(56) {
    margin-left: 0.25cm;
}
.block:nth-child(59) {
    margin-left: 0.25cm;
}
.block:nth-child(62) {
    margin-left: 0.25cm;
}

/* Kolom 3 */
.block:nth-child(3) {
    margin-left: 0.25cm;
}
.block:nth-child(6) {
    margin-left: 0.25cm;
}
.block:nth-child(9) {
    margin-left: 0.25cm;
}
.block:nth-child(12) {
    margin-left: 0.25cm;
}
.block:nth-child(15) {
    margin-left: 0.25cm;
}
.block:nth-child(18) {
    margin-left: 0.25cm;
}
.block:nth-child(21) {
    margin-left: 0.25cm;
}
.block:nth-child(24) {
    margin-left: 0.25cm;
}
.block:nth-child(27) {
    margin-left: 0.25cm;
}
.block:nth-child(30) {
    margin-left: 0.25cm;
}
.block:nth-child(33) {
    margin-left: 0.25cm;
}
.block:nth-child(36) {
    margin-left: 0.25cm;
}
.block:nth-child(39) {
    margin-left: 0.25cm;
}
.block:nth-child(42) {
    margin-left: 0.25cm;
}
.block:nth-child(45) {
    margin-left: 0.25cm;
}
.block:nth-child(48) {
    margin-left: 0.25cm;
}
.block:nth-child(51) {
    margin-left: 0.25cm;
}
.block:nth-child(54) {
    margin-left: 0.25cm;
}
.block:nth-child(57) {
    margin-left: 0.25cm;
}
.block:nth-child(60) {
    margin-left: 0.25cm;
}
.block:nth-child(63) {
    margin-left: 0.25cm;
}
